<div th:fragment="header" class="myHeader">
    <div id="header-left">
        <svg width="200" height="50" ...>
            <svg width="200" height="50" viewBox="0 0 200 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="instaGradient" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:#f58529; stop-opacity:1" />
                        <stop offset="50%" style="stop-color:#dd2a7b; stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#8134af; stop-opacity:1" />
                    </linearGradient>
                </defs>
                <text x="10" y="40" font-family="'Pacifico', cursive" font-size="40" fill="url(#instaGradient)">
                    horizon
                </text>
            </svg>
        </svg>
    </div>
    <div id="header-center">
        <div class="searchArea">
            <input id="mySearch" type="text" placeholder="검색어를 입력하세요...">
            <div id="searchPreview" class="searchPreview" style="display: none">
                <div class="noSearch">
                    <span>검색 결과가 존재하지 않습니다</span>
                </div>
                <template id="previewTemplate">
                    <div class="preview">
                        <div class="previewDiv">
                            <img src="/image/basicProfile.jpg" class="preview-img">
                            <span class="customBoldFont small-pl-custom previewNickName">김래홍</span>
                        </div>
                    </div>
                </template>
                <div class="searchResult">
                </div>
            </div>
        </div>

        <!-- 알림 -->
        <div id="notification-wrapper">
            <button id="notification-btn" onclick="toggleNotification()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"/>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"/>
                </svg>
                <span id="notification-badge" style="display: none;">0</span>
            </button>

            <div id="notification-dropdown" style="display: none;">
                <div class="notification-header">
                    <span>알림</span>
                    <button id="notification-read-all" onclick="markAllRead()">모두 읽음</button>
                </div>
                <div id="notification-list">
                    <div class="notification-empty">알림이 없습니다</div>
                </div>
                <template id="notification-item-template">
                    <div class="notification-item unread">
                        <img class="notification-profile-img" src="/image/basicProfile.jpg">
                        <div class="notification-content">
                            <span class="notification-message"></span>
                            <span class="notification-time"></span>
                        </div>
                        <div class="notification-dot"></div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <div id="header-right">
        <div class="profile-div">
            <img src="/image/basicProfile.jpg" class="profile-img" id="headerProfileImage">
        </div>
        <div id="memberName">
            <span class="customBoldFont"></span>
        </div>
    </div>
</div>

